<!DOCTYPE html>
<html>
  <head>
    <title>Broken Link</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <%= render "header_and_login" %>
  <br>

  <body>
    <%= yield %>
  </body>
</html>
